<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<% for (var item in htmlWebpackPlugin.options.meta) { %>
	<meta name="<%= item %>" content="<%= htmlWebpackPlugin.options.meta[item] %>">
	<% } %>
	<title>Stack Question</title>

</head>

<body>
	<div ng-app="app"></div>
</body>
</html>
